{% load staticfiles %}
<div id="footer" class="background-azul-claro container-fluid">	

  <div class="row">

  	<footer>
	  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <a href="https://plus.google.com/105282990654257770005/">
          <img src="{% static 'blog/img/googleplus.png' %}" alt="Google Plus" title="Google Plus" />
        </a>

        <a href="https://plus.google.com/105282990654257770005/">
          <img src="{% static 'blog/img/linkedin.png' %}" alt="Linkedin" title="Linkedin" />
        </a>

	    </div>
	  </footer>

  </div>	
    
  </div>
</div>

