/* 
	Autor: Samuel Antonio Gea;
	Descrição: Css para o Blog
*/
@import url(https://fonts.googleapis.com/css?family=Passion+One);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,700,700italic);

p
{
	font-size: 18px; 
	font-family: 'Titillium Web', 
	sans-serif; 
	text-indent: 15px; 
}

nav a
{	
	font-size: 35px;
	font-family: 'Passion One', cursive;
	letter-spacing: 3px;
	color: #FFFFFF; 
	height: 90px;
	text-transform: uppercase; 
	font-weight: bold; 
}

nav a:hover
{
	-webkit-transition: all 600ms ease-in;
	-moz-transition: all 600ms ease-in;
	-ms-transition: all 600ms ease-in;
	-o-transition: all 600ms ease-in;
	transition: all 600ms ease-in;
}

#divisoria{ height: 10px; background-color: black; }

#logado{ position: absolute; top: 20%; right: 50px;  }

#footer
{
	/* TODO */
	position: fixed;
	left:0px;
	bottom:0px;
	height:60px;
	width:100%;
	text-align: center;
}

#img-eu
{
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.background-azul{ background-color: #008ae6; color: #FFF; }
.background-azul-claro{ background-color: #002640; color: #FFF; }

.margin-10{	margin-top: 2%; }
.margin-top-3{ margin-top: 3%; }
.margin-top-5{ margin-top: 5%; }

.font-size-18{ font-size: 18px; }

.display-none{ display: none }

.lista-formacao{ list-style-type: square; font-size: 18px; }

.linguagens{ list-style-type: none; text-align: center; }
.linguagens li{ display: inline-block; }

.rodape a
{ 
	font-size: 26px; 
	text-transform: capitalize; 
	margin-right: 100px; 
	color: #FFF;
	text-decoration: none;
}

.posts{ margin-bottom: 150px; }
.posts h2{ text-align: center; }