/* 
	Autor: Samuel Antonio Gea;
	Descrição: Css para o Blog
*/
@import url(https://fonts.googleapis.com/css?family=Passion+One);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,700,700italic);

p{ font-size: 18px; font-family: 'Titillium Web', sans-serif; text-indent: 15px; }

nav a
{	
	font-size: 35px;
	font-family: 'Passion One', cursive;
	letter-spacing: 3px;
	color: #FFFFFF; 
	height: 120px;
	text-transform: uppercase; 
	font-weight: bold; 
}

#header{ background-color: #008ae6; }

#footer{ background-color: #000000; color: #FFFFFF;}

#img-eu
{
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

#logado{ position: absolute; top: 20%; right: 50px;  }

.margin-10
{
	margin-top: 2%;
}