<div id="header" class="container-fluid">
  <div class="row">

    <header>    
      <nav class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-off-set-4 col-sm-offset-3">
        <ul class="nav nav-pills nav-justified">
          <li role="presentation"><a href="{% url 'home' %}">Home</a></li>
          <li role="presentation"><a href="{% url 'posts' %}">Posts</a></li>
          <li role="presentation"><a href="{% url 'sobre' %}">Sobre</a></li>
          <li role="presentation"><a href="{% url 'portfolio' %}">Portfolio</a></li>
        </ul>
      </nav>
    </header>

  </div>
</div>
