{% extends 'base.html' %}

{% block content %}

  <div class="row">
	  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">

      <h1 class="text-center">
        {{ post.titulo }}

        {% if user.is_authenticated %}

          <a class="btn btn-default" href="{% url 'blog:editar' id=post.id %}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>

          <p id="logado">Logado como: {{ user.username }}</p>

        {% endif %}

      </h1>
      
      <span>{{ post.criado }}</span>

      {% if post.atualizado %}
        <span>{{ post.atualizado }}</span>
      {% endif %}

      <p>{{ post.conteudo }}</p>

	  </div>  
  </div>

{% endblock content %}