{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="margin-top-5 row">

    <h1 class="display-none">Sobre - Samuel Antonio Gea</h1>

	<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 ">

      <img id="img-eu" src="{% static 'img/samuelgea.jpg' %}" alt="Samuel Antonio Gea">

      <div class="text-center">
      	<h1 class="font-size-18">Samuel Antonio Gea</h1>
      	<p>Bacharel em Ciência da Computação</p>
      </div>

	</div>

	<div class="margin-10 col-lg-10 col-md-9 col-sm-6 col-xs-12">

	  <p>
	  	Primaremente sejam Bem Vindos e obriado pela visita. Criei esse blog com um propósito
	  	simples, passar o pouco que eu sei, graças a muitos blogers, canais de youtube entre outras midias
	  	que pessoas compartilhavam seu conhecimento de maneira gratuita consegui obter o conhecimento que 
	  	tenho hoje, por isso quero repassar um pouco do que foi meu passado, da mesma maneira...
	  </p>

	  <p>
	  	Abaixo vou falar um pouco sobre min, mostrar um pouco sobre meu histórico. Abraços!
	  </p>

	  <h2 class="margin-top-3">Formação</h2>

      <ul class="lista-formacao">
        <li>Técnico em Informática pelo Senac Franca</li>
        <li>Bacharel em Ciência da Computação</li>
        <li>Especialização em Gestão e Desenvolvimento de Software para Web (Cursando)</li>
      </ul>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


    </div>

	</div>

  </div>


{% endblock content %}